@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent-foreground: #3E3637;
    --accent: #A07374;
    --background: #FEFEFD;
    --border: #e2e8f0;
    --card-foreground: #3E3637;
    --card: #ffffff;
    --destructive-foreground: #FEFEFE;
    --destructive: #8A3249;
    --foreground: #3E3637;
    --input: #e2e8f0;
    --muted-foreground: #64748b;
    --muted: #f1f5f9;
    --popover-foreground: #3E3637;
    --popover: #ffffff;
    --primary-foreground: #FEFEFE;
    --primary: #bf9454;
    --radius: 0.5rem;
    --ring: #94a3b8;
    --secondary-foreground: #f1f5f9;
    --secondary:#3E3637;
  }

  .dark {
    --background: hsl(224 71% 4%);
    --foreground: hsl(213 31% 91%);

    --muted: hsl(223 47% 11%);
    --muted-foreground: hsl(215.4 16.3% 56.9%);

    --popover: hsl(224 71% 4%);
    --popover-foreground: hsl(215 20.2% 65.1%);

    --card: hsl(224 71% 4%);
    --card-foreground: hsl(213 31% 91%);

    --border: hsl(216 34% 17%);
    --input: hsl(216 34% 17%);

    --primary: #FEFEFE;
    --primary-foreground: hsl(222.2 47.4% 1.2%);

    --secondary: hsl(222.2 47.4% 11.2%);
    --secondary-foreground: #FEFEFE;

    --accent: hsl(216 34% 17%);
    --accent-foreground: #FEFEFE;

    --destructive: #8A3249;
    --destructive-foreground: #FEFEFE;

    --ring: hsl(216 34% 17%);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
